* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body {
    background-color: #d9dcd6;
}

/* header formatting */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/* title heading alignment and size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* color pop in title */
.header h1 .seo {
    color: #d9dcd6;
}

/* header bar formatting */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* navigation bar display */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* main image of board discussion */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* images in sections on left */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* image in section on right */
.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* main body display */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

p {
    font-size: 16px;
}

/* side bar formats */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-all {
    margin-bottom: 32px;
}

.benefit-all h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-all img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* main content formatting */
.main-body {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

.main-body h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer formatting */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2, footer p {
    color: black;
}